extends layout

block content
  h1= title
  - var results = result
  -let create_destination = `dispatch(\"/lumber/create\")`
  button.btn(class="btn-primary ml-1", onclick= create_destination) Create
  div(class = "container-fluid")
    div(class = "row m-1")
      each item in results
        -let detail_destination = `dispatch(\"/lumber/detail?id=${item.id}\")`
        -let update_destination = `dispatch(\"/lumber/update?id=${item.id}\")`
        -let delete_destination = `dispatch(\"/lumber/delete?id=${item.id}\")`
        div(class="col-sm-2") 
          p Lumber type: #{item.lumber_type}
          p Cost: #{item.cost}
          p Length: #{item.length}
            button.btn(class="btn-secondary ml-1", onclick= detail_destination) Detail
            button.btn(class="btn-primary ml-1", onclick= update_destination) Update
            button.btn(class="btn-danger ml-1", onclick= delete_destination) Delete
  script.
    function dispatch(path){
      window.location.href=path
    }