extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let lumberid = toShow.id
    - let lumber_type = toShow.lumber_type
    - let lumberlength = toShow.length
    - let lumbercost = toShow.cost
    - let actionid = "/resource/lumber/" + lumberid
    script. 
      let actionid = "#{actionid}"
    div
      div.row
        div(class="lumberAttr mr-3") Lumber ID is:
        div #{lumberid}
      div.row
        div(class='lumberAttr mr-3') Lumber Type is:
        div #{lumber_type}
      div.row
        div(class='lumberAttr mr-3') Lumber length is:
        div #{lumberlength}
      div.row
        div(class='lumberAttr mr-3') Lumber Cost is:
        div #{lumbercost}    
  button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel(){
        window.location.href='/lumber'
    }
  script.
    function deleteOnid(){
        console.log("starting delete")
        fetch(actionid, {
            method: 'DELETE'
        }).then((resp) => {
            return resp.json();
        }).then((body) => {
            alert("Delete succeded")
            window.location.href='/lumber'
        }).catch((error) => {
            alert("Delete failed " + error)
        })
    }